<div id="<%= dom_id product_category %>">
  <p>
    <strong>Name:</strong>
    <%= product_category.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_category.code %>
  </p>

  <p>
    <strong>Tax type:</strong>
    <%= product_category.tax_type %>
  </p>

</div>
