<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "商品カテゴリー一覧") %>
  </div>

  <div class="card-body mx-3">
    <div class="row py-2">
      <div class="col-4 offset-8 d-flex justify-content-end">
        <%= link_to icon_with_text("plus-circle", "登録"),
                    new_product_category_path,
                    class: "btn btn-outline-primary",
                    data: { turbo_frame: "new_product_category" }
        %>
      </div>
    </div>
    <%= turbo_frame_tag "new_product_category" %>
    <div id="product_categories">
      <%= render @product_categories %>
    </div>
  </div>
</div>